<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Restaurants
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar debounce="500" (ionChange)="filterItems($event)"></ion-searchbar>
    <ion-button slot="end" color="dark" (click)="showPopover($event)">
      <ion-icon name="arrow-dropdown-circle"></ion-icon>
    </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
      <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="Pull to refresh"
        refreshingSpinner="circles"
        refreshingText="Refreshing...">
      </ion-refresher-content>
    </ion-refresher>

    <app-restaurant-card *ngFor="let rest of filteredItems |
      restaurantFilter:orderByName:showOpen"
        [restaurant]="rest">
    </app-restaurant-card>

    <ion-infinite-scroll (ionInfinite)="loadMoreItems($event)">
      <ion-infinite-scroll-content 
        loadingSpinner="bubbles"
        loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
