<ion-item color="light">
    <ion-avatar item-start>
        <ion-img [src]="com.user.avatar"></ion-img>
    </ion-avatar>
    <div item-end padding>
        <ion-text>{{com.user.name}}</ion-text>
        <p><small>{{com.text}}</small></p>
        <div>
          <ion-icon *ngFor="let fullStar of fullStars" name="star"></ion-icon>
          <ion-icon *ngFor="let emptyStar of emptyStars" name="star-outline"></ion-icon>
        </div>
        <small>{{com.date}}</small>
    </div>  
</ion-item>