<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
 <form (ngSubmit)="login()" #loginForm="ngForm" novalidate>
    <ion-list>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" name="email" [(ngModel)]="user.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" name="password" [(ngModel)]="user.password" required></ion-input>
      </ion-item>
    </ion-list>
    <ion-row text-right>
      <ion-col>
          <ion-button type="submit" color="success" [disabled]="loginForm.invalid">
            <ion-icon name="log-in" slot="start"></ion-icon>
            Login
          </ion-button>
      </ion-col> 
    </ion-row>
  </form>
  
  <ion-row margin-top padding-top>
    <ion-col size="6">
        <ion-button color="danger" expand="block" (click)="loginGoogle()">
            <ion-icon slot="icon-only" name="logo-googleplus"></ion-icon>
          </ion-button>
    </ion-col>
    <ion-col size="6">
        <ion-button color="primary" expand="block" (click)="loginFB()">
            <ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
          </ion-button>
    </ion-col>
  </ion-row>
  
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button color="secondary" expand="block" [routerDirection]="'forward'" [routerLink]="['/auth/register']">
      <ion-label>Register</ion-label>
      <ion-icon slot="end" name="person-add"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>
