<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      New restaurant
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <form (ngSubmit)="addRestaurant()" #addForm="ngForm" novalidate>
      <ion-list>
        <ion-item>
          <ion-label position="floating">Name</ion-label>
          <ion-input type="text" name="name" [(ngModel)]="newRest.name" #nameModel="ngModel" minlength="5" required></ion-input>
          <ion-icon name="checkmark-circle" slot="end" color="success" *ngIf="nameModel.dirty && nameModel.valid"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Description</ion-label>
          <ion-textarea rows="6" cols="20" name="description" [(ngModel)]="newRest.description" #descModel="ngModel" required></ion-textarea>
          <ion-icon name="checkmark-circle" slot="end" color="success" *ngIf="descModel.dirty && descModel.valid"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Cuisine</ion-label>
          <ion-input type="text" name="cuisine" [(ngModel)]="cuisine" #cuisineModel="ngModel" required></ion-input>
          <ion-icon name="checkmark-circle" slot="end" color="success" *ngIf="cuisineModel.dirty && cuisineModel.valid"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Phone</ion-label>
          <ion-input type="text" name="phone" [(ngModel)]="newRest.phone" #phoneModel="ngModel" pattern="(\+?[0-9]2 ?)?[0-9]{9}" required></ion-input>
          <ion-icon name="checkmark-circle" slot="end" color="success" *ngIf="phoneModel.dirty && phoneModel.valid"></ion-icon>
        </ion-item>

        <ion-list ngModelGroup="daysGroup" #daysGroupModel="ngModelGroup" appOneChecked padding>
          <ion-text>Opened days:</ion-text>
          <ion-item *ngFor="let day of days; let i = index">
            <ion-checkbox name="days{{i}}" [(ngModel)]="daysOpen[i]" mode="ios" slot="start" color="dark"></ion-checkbox> 
            <ion-label>{{day}}</ion-label>
          </ion-item>
        </ion-list>

        <ion-item padding-top>
            <ion-label position="inset">Image:</ion-label>
            <ion-button size="default" color="light" (click)="takePhoto()">
                <ion-icon name="camera"></ion-icon>
            </ion-button>
            <ion-button size="default" color="light" (click)="pickFromGallery()">
                <ion-icon name="images"></ion-icon>
            </ion-button>
        </ion-item>
        <ion-item padding-top>
            <ion-label position="inset">Address:</ion-label>
            <ion-input type="text" readonly color="medium" [(ngModel)]="newRest.address" name="address"></ion-input>
            <ion-button size="default" color="success" (click)="openSelectAddress()" slot="end">
                <ion-icon name="pin"></ion-icon>
            </ion-button>
        </ion-item>
      </ion-list>
      <ion-img [src]="newRest.image" *ngIf="newRest.image"></ion-img>
      <ion-button type="submit" color="primary" expand="block" [disabled]="addForm.invalid || !newRest.image || !newRest.address">
        <ion-icon name="cloud-upload" slot="start"></ion-icon>
        Add
      </ion-button>
    </form>
</ion-content>