<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Search location</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <mgl-map [style]="'mapbox://styles/mapbox/streets-v11'"
  [zoom]="[zoom]" [center]="[direccion.lng, direccion.lat]">
  <mgl-marker [lngLat]="[direccion.lng, direccion.lat]"></mgl-marker>
  <mgl-control mglGeocoder (result)="changePosition($event.result)"></mgl-control>
  </mgl-map>
</ion-content>
<ion-footer>
    <ion-toolbar>
      <ion-row>
        <ion-col size="6">
            <ion-button color="success" (click)="selectPosition()" [disabled]="!direccion.address" expand="block">
              <ion-label>Ok</ion-label>
            </ion-button>
        </ion-col>
        <ion-col size="6">
            <ion-button color="danger" (click)="cancel()" expand="block">
              <ion-label>Cancel</ion-label>
            </ion-button>
        </ion-col>
      </ion-row>
    </ion-toolbar>
</ion-footer>
