<ion-header>
  <ion-toolbar>
    <ion-title>Restaurant comments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary" (click)="addComment()" *ngIf="!commented">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-list>
    <app-comment-component *ngFor="let com of comments" [com]="com"></app-comment-component>
  </ion-list>
</ion-content>

