<ion-header>
  <ion-toolbar>
    <ion-title>Restaurant location</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-fab vertical="bottom" horizontal="start">
      <ion-fab-button (click)="navigate()">
        <ion-icon name="navigate"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-fab vertical="top" horizontal="end" slot="fixed">
      <ion-badge color="dark" *ngIf="restaurant">
          {{restaurant.address}}
      </ion-badge>
    </ion-fab>
  <mgl-map [style]="'mapbox://styles/mapbox/streets-v11'" *ngIf="restaurant" 
    [zoom]="[zoom]" [center]="[restaurant.lng, restaurant.lat]">
    <mgl-marker [lngLat]="[restaurant.lng, restaurant.lat]"></mgl-marker>
  </mgl-map>
</ion-content>
