<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Change email and name</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <form (ngSubmit)="changeNameAndEmail()" #emailForm="ngForm" novalidate>
      <ion-list>
        <ion-item>
          <ion-label position="floating">Name</ion-label>
          <ion-input type="text" name="nameUser" [(ngModel)]="name" #nameModel="ngModel" required></ion-input>
          <ion-icon name="checkmark-circle" slot="end" color="success" *ngIf="nameModel.dirty && nameModel.valid"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" name="email" [(ngModel)]="email" #emailModel="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required></ion-input>
          <ion-icon name="checkmark-circle" slot="end" color="success" *ngIf="emailModel.dirty && emailModel.valid"></ion-icon>
        </ion-item>
      </ion-list>
      <ion-button type="submit" color="success" expand="block" [disabled]="emailForm.invalid">
        <ion-icon name="paper" slot="start"></ion-icon>
        Change
      </ion-button>
    </form>
</ion-content>
  
<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col size="12">
        <ion-button color="danger" (click)="cancel()" expand="block">
          <ion-label>Cancel</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>