<ion-header>
  <ion-toolbar>
    <ion-title>User location</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <mgl-map [style]="'mapbox://styles/mapbox/streets-v11'" *ngIf="user" 
    [zoom]="[zoom]" [center]="[user.lng, user.lat]">
    <mgl-marker [lngLat]="[user.lng, user.lat]"></mgl-marker>
  </mgl-map>
</ion-content>
