<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Change password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <form (ngSubmit)="changePassword()" #passForm="ngForm" novalidate>
      <ion-list>
          <div ngModelGroup="passGroup" #passGroupModel="ngModelGroup" appMatch="password,password2">
            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input type="password" name="password" minlength="4" required [(ngModel)]="password" #passModel="ngModel"></ion-input>
              <ion-icon name="checkmark-circle" slot="end" color="success" *ngIf="passModel.dirty && passModel.valid"></ion-icon>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Repeat Password</ion-label>
              <ion-input type="password" name="password2" required [(ngModel)]="password2" #passModel2="ngModel"></ion-input>
              <ion-icon name="checkmark-circle" slot="end" color="success" *ngIf="passModel2.dirty && passGroupModel.valid"></ion-icon>
            </ion-item>
          </div>
      </ion-list>
      <ion-button type="submit" color="success" expand="block" [disabled]="passForm.invalid || (password2 != password)">
        <ion-icon name="paper" slot="start"></ion-icon>
        Change
      </ion-button>
    </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col size="12">
        <ion-button color="danger" (click)="cancel()" expand="block">
          <ion-label>Cancel</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
