<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

<form (ngSubmit)="register()" #registerForm="ngForm" novalidate>
    <ion-list>
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input type="text" name="nameUser" [(ngModel)]="newUser.name" #nameModel="ngModel" required></ion-input>
        <ion-icon name="checkmark-circle" slot="end" color="success" *ngIf="nameModel.dirty && nameModel.valid"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" name="email" [(ngModel)]="newUser.email" #emailModel="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required></ion-input>
        <ion-icon name="checkmark-circle" slot="end" color="success" *ngIf="emailModel.dirty && emailModel.valid"></ion-icon>
      </ion-item>
      <div ngModelGroup="passGroup" #passGroupModel="ngModelGroup" appMatch="password,password2">
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" name="password" minlength="4" required [(ngModel)]="newUser.password" #passModel="ngModel"></ion-input>
          <ion-icon name="checkmark-circle" slot="end" color="success" *ngIf="passModel.dirty && passModel.valid"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Repeat Password</ion-label>
          <ion-input type="password" name="password2" required [(ngModel)]="password2" #passModel2="ngModel"></ion-input>
          <ion-icon name="checkmark-circle" slot="end" color="success" *ngIf="passModel2.dirty && passGroupModel.valid"></ion-icon>
        </ion-item>
      </div>
      <ion-item padding-top>
          <ion-label position="inset">Avatar</ion-label>
          <ion-button size="default" color="light" (click)="takePhoto()">
              <ion-icon name="camera"></ion-icon>
          </ion-button>
          <ion-button size="default" color="light" (click)="pickFromGallery()">
              <ion-icon name="images"></ion-icon>
          </ion-button>
      </ion-item>
    </ion-list>
    <ion-img [src]="newUser.avatar" *ngIf="newUser.avatar"></ion-img>
    <ion-button type="submit" color="primary" expand="block" [disabled]="registerForm.invalid || !newUser.avatar || (password2 != newUser.password)">
      <ion-icon name="paper" slot="start"></ion-icon>
      Go!
    </ion-button>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button color="secondary" expand="block" [routerDirection]="'forward'" [routerLink]="['/auth/login']">
      <ion-label>Login</ion-label>
      <ion-icon name="log-in"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>