<ion-header>
  <ion-toolbar>
    <ion-title>user-info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <img [src]="user.avatar" *ngIf="user">
  <ion-list *ngIf="user">
    <ion-item>
      <strong>{{user.name}}</strong>
      <ion-icon name="person" slot="start"></ion-icon>
    </ion-item>
    <ion-item>
      <strong>{{user.email}}</strong>
      <ion-icon name="at" slot="start"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-button fill="clear" [routerLink]="['/restaurants/user', user.id]" [routerDirection]="'forward'">
        <ion-label>View user restaurants</ion-label>
      </ion-button>
    </ion-item>
  </ion-list>

  <div padding-top *ngIf="user && user.me">Update profile: </div>
  <ion-row margin-top padding-top *ngIf="user && user.me">
    <ion-col size="6">
      <ion-button color="light" expand="block" (click)="openChangePassword()">
        <ion-icon slot="start" name="refresh"></ion-icon>
        <ion-label>Password</ion-label>
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button color="light" expand="block" (click)="openChangeNameEmail()">
        <ion-icon slot="start" name="refresh"></ion-icon>
        <ion-label>Email</ion-label>
      </ion-button>
    </ion-col>
  </ion-row>

  <form (ngSubmit)="changeAvatar()" #avatarForm="ngForm" novalidate *ngIf="user && user.me">
    <ion-list>
      <ion-item padding-top>
          <ion-label position="inset">Change avatar</ion-label>
          <ion-button size="default" color="light" (click)="takePhoto()">
              <ion-icon name="camera"></ion-icon>
          </ion-button>
          <ion-button size="default" color="light" (click)="pickFromGallery()">
              <ion-icon name="images"></ion-icon>
          </ion-button>
      </ion-item>
    </ion-list>
    <ion-img [src]="nuevoAvatar" *ngIf="nuevoAvatar"></ion-img>
    <ion-button type="submit" color="success" expand="block" [disabled]="!nuevoAvatar">
      <ion-icon name="paper" slot="start"></ion-icon>
       Change
    </ion-button>
  </form>
</ion-content>
