<ion-header>
  <ion-toolbar>
    <ion-title>restaurant-info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
<ion-card *ngIf="restaurant">
    <ion-fab vertical="top" horizontal="end" slot="fixed">
      <ion-fab-button size="small" *ngIf="restaurant.mine" [routerLink]="['/restaurants/edit', restaurant.id]" [routerDirection]="'forward'">
        <ion-icon name="create"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <img [src]="restaurant.image">
    <ion-card-header>
      <ion-card-title>
        <ion-text color="primary">{{restaurant.name}}</ion-text>
      </ion-card-title>
      <ion-card-subtitle>
          <span *ngFor="let type of restaurant.cuisine">
              {{type+','}}
          </span>
    </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>{{restaurant.description}}</p>
      <div>
          <strong>Opens: </strong>
          <span *ngFor="let day of restaurant.daysOpen">
            {{days[day]+','}}
          </span>
          <ion-badge *ngIf="restaurant.daysOpen.includes(weekDay)" float-right color="success">Open</ion-badge>
          <ion-badge *ngIf="!restaurant.daysOpen.includes(weekDay)" float-right color="danger">Closed</ion-badge>
      </div>
      <div>
          <strong>Phone: </strong>{{restaurant.phone}}
      </div>
      <div>
        <ion-icon *ngFor="let fullStar of fullStars" name="star"></ion-icon>
        <ion-icon *ngFor="let emptyStar of emptyStars" name="star-outline"></ion-icon>
        {{restaurant.stars}}
      </div>
      <div>
        <ion-icon name="walk"></ion-icon>
          {{restaurant.distance.toFixed(2)}} Km
        <ion-button float-right size="small" color="danger" (click)="delete()" *ngIf="restaurant.mine"><ion-icon name="trash"></ion-icon></ion-button>
      </div>
      <ion-item-divider></ion-item-divider>
      <ion-item lines="none">
          <ion-avatar item-start>
              <ion-img [src]="restaurant.creator.avatar" [routerLink]="['/users/profile', restaurant.creator.id]" [routerDirection]="'forward'"></ion-img>
          </ion-avatar>
          <div item-end padding>
              <h2 [routerLink]="['/users/profile', restaurant.creator.id]" [routerDirection]="'forward'">{{restaurant.creator.name}}</h2>
              <p>{{restaurant.creator.email}}</p>
          </div>          
      </ion-item>
    </ion-card-content>
</ion-card>

  
<!--

<ion-card>
    <img src="assets/1541164273292.jpg">
    <ion-card-header>
      <ion-card-title>
        Nombre del restaurante
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Un buen restaurante a las afuera de madrid adadsadas jhadaj jajdaidn bbnu</p>
      
        <strong>Opens: </strong>
        Mon, Tue, Wed, Fry,

   
        <ion-badge color="success">Open</ion-badge>
    
        <strong>Phone: </strong>965396279
     
        <ion-icon name="star"></ion-icon>
     
      <ion-button color="danger">Delete</ion-button>
      <ion-button color="secondary">Edit</ion-button>
    </ion-card-content>
    <ion-item>
      <ion-avatar item-left>
        <img src="assets/profile1.jpg">
      </ion-avatar>
      <h2>Andres</h2>
      <p>andsc083090@gmail.com</p>
    </ion-item>
  </ion-card>
-->
  
</ion-content>
