<ion-card>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
      <ion-fab-button size="small" [routerDirection]="'forward'" [routerLink]="['/restaurants/details', restaurant.id]">
        <ion-icon size="large" name="information"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  <img [src]="restaurant.image">
  <ion-card-header>
    <ion-card-subtitle>
        <span *ngFor="let type of restaurant.cuisine">
            {{type+','}}
        </span>
    </ion-card-subtitle>
    <ion-card-title>
      <ion-text color="primary">{{restaurant.name}}</ion-text>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div>
        <strong>Opens: </strong>
        <span *ngFor="let day of restaurant.daysOpen">
          {{days[day]+','}}
        </span>
        <ion-badge *ngIf="restaurant.daysOpen.includes(weekDay)" float-right color="success">Open</ion-badge>
        <ion-badge *ngIf="!restaurant.daysOpen.includes(weekDay)" float-right color="danger">Closed</ion-badge>
    </div>
    <div>
        <strong>Phone: </strong>{{restaurant.phone}}
    </div>
    <div>
      <ion-icon *ngFor="let fullStar of fullStars" name="star"></ion-icon>
      <ion-icon *ngFor="let emptyStar of emptyStars" name="star-outline"></ion-icon>
      {{restaurant.stars}}
    </div>

    <ion-item-divider></ion-item-divider>

    <ion-item color="light" block lines="none">
      <span>{{restaurant.address}}</span>
      <span slot="end">{{restaurant.distance.toFixed(2)}}km</span>
    </ion-item>

  </ion-card-content>
</ion-card>