<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content></ion-content>

<ion-tabs (ionTabsDidChange)="changeTab($event)">
  <ion-tab-bar slot="bottom" color="dark">
    <ion-tab-button tab="info">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>Information</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="location">
      <ion-icon name="pin"></ion-icon>
      <ion-label>Location</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>