<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/restaurants"></ion-back-button>
    </ion-buttons>
    <ion-title> Restaurant details </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> </ion-content>

<ion-tabs (ionTabsDidChange)="changeTab($event)">
  <ion-tab-bar slot="bottom" color="dark">
    <ion-tab-button tab="info">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>Information</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="location">
      <ion-icon name="pin"></ion-icon>
      <ion-label>Location</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="comments">
      <ion-icon name="chatbubbles"></ion-icon>
      <ion-label>Comments</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
